<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../component/component.head.html") %>
        <title>RE:T main</title>

        <link rel="stylesheet" href="/style/main/style.css">
</head>

<body class="screen-1">
    <div>
        <%- include('../../component/component.header.ejs') %>
    </div>

    <div>
        <%- include('../../component/component.calendar.string.ejs' ) %>
    </div>

    <div>
        <%- include('../../component/component.retner.head.ejs') %>
    </div>

    <div class="select">
        <%- include('../../component/component.main.retner.select.ejs', {select : 2}) %>
    </div>

    <div class="membership">
        <h5 id="today_ret">예약 캘린더</h5>
        <button id="member_all">전체보기</button>
    </div>

    <%- include('../../component/component.calendar.monthly.ejs', {calendar : data.calendar}) %>
</body>

</html>